@import "variables"

div.field
  textarea
    font-family: 'Consolas', monospace
    width: 640px
    padding: 5px
  textarea.text
    height: 800px
    margin-bottom: 1em
  input[type=password]
    font-size: 1.5em
    width: 100%

div.actions
  margin-top: 1em
  input[type=submit]
    padding: 0.3em
    font:
      family: "Trebuchet MS", sans-serif
      size: 0.9em
  input[type=submit].delete
    color: red
  .default
    font-weight: bold

div.right
  float: right