@import "variables"

div.field
  input[type=text], textarea
    font-family: 'Consolas', monospace
    width: 640px
    padding: 5px
  input.title
    font-size: $title_size
  textarea.text
    height: 800px
  input[type=password]
    font-size: 1.5em
    width: 100%
  div.error
    color: red