@import "variables"

div.field
  input[type=text], textarea
    font-family: 'Consolas', monospace
    width: 640px
    padding: 5px
  input.title
    font-size: $title_size
  textarea.text
    height: 800px
    margin-bottom: 1em
  input[type=password]
    font-size: 1.5em
    width: 100%
  div.error
    color: red

div.actions
  margin-top: 1em
  input[type=submit]
    padding: 0.3em
    font:
      family: "Trebuchet MS", sans-serif
      size: 0.9em
  .default
    font-weight: bold
    // font-style: italic
