@import "variables"

.admin
  display: none

body
  font:
    size: 1.1em
    family: "Times New Roman", serif
  margin: 1em auto
  padding: 0 2em
  min-width: 320px

body, img
  max-width: 640px

h1, h2
  font-family: "Trebuchet MS", sans-serif

h1
  margin-bottom: 0.2em
  font-size: $h1-size

h2
  margin-bottom: 0.2em
  font-size: 1.2em

p
  margin-bottom: 0.8em
  line-height: 1.35em

strong
  font-weight: bold

em
  font-style: italic

article
  display: block
  margin-top: 3em
  details
    text-align: right
    color: gray
    display: block

header
  display: block
  font-size: 1.2em
  a:link, a:visited
    color: black
  a:hover, a:visited:hover
    color: $hover

section#main
  margin-top: 1em

div.new_link
  position: absolute
  top: 0.1em
  right: 0.1em
  font-size: 2em
  width: 1em
  text-align: center
  a
    text-decoration: none
    color: $link

footer
  display: block
  margin-top: 2em
  text-align: center
  font-size: 0.8em

a:link
  color: $link

a:visited
  color: $visited

a:hover, a:visited:hover
  color: $hover

div.error
  color: red
