@import "variables"

body
  font:
    size: 1.1em
    family: "Times New Roman", serif
  margin: 1em auto
  padding: 0 2em
  max-width: 640px
  min-width: 320px

h1
  margin-bottom: 0.2em
  font:
    family: "Trebuchet MS", sans-serif
    size: $title_size
  
p
  margin-bottom: 0.8em
  line-height: 1.35em

div.post
  margin-top: 3em

div.data
  text-align: right
  color: gray

div.new_link
  position: absolute
  top: 0.1em
  right: 0.1em
  font-size: 2em
  width: 1em
  text-align: center
  a
    text-decoration: none
    color: $link

div.header
  font-size: 1.2em
  margin-bottom: 2em
  a:link, a:visited
    color: $black
  a:hover, a:visited:hover
    color: $hover

div.footer
  margin-top: 2em
  text-align: center
  font-size: 0.8em

a:link
  color: $link

a:visited
  color: $visited

a:hover, a:visited:hover
  color: $hover
