body {
  font-size: 1.1em;
  font-family: "Times New Roman", serif;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0 2em;
  max-width: 640px;
  min-width: 320px; }

h1 {
  margin-top: 0em;
  margin-bottom: 0.2em;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.5em; }

p {
  margin-bottom: 0.8em;
  line-height: 1.35em; }

div.post {
  margin-top: 3em; }
  div.post p.data {
    text-align: right;
    color: gray; }

div.new_link {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  font-size: 2em;
  width: 1em;
  text-align: center; }
  div.new_link a {
    text-decoration: none;
    color: blue; }

div.form input.title, div.form textarea {
  font-family: "Consolas", monospace;
  width: 640px;
  padding: 5px; }
div.form input.title {
  font-size: 1.5em; }
div.form textarea {
  height: 800px; }
div.form input[type=password] {
  font-size: 1.5em;
  width: 100%; }

div.header {
  font-size: 1.2em; }
