@import compass/reset
@import compass/css3/box-shadow
@import links

#card
  margin: 0 auto

  $card-width: 450px
  width: $card-width
  height: $card-width * 5 / 9

  +box-shadow(#999, 0, 0, 8px)

  #clip
    text-align: right
    padding-right: 25px
    height: 73px

  text-align: center
  font-family: Arial, sans-serif
  #name
    font-size: 210%
  #email  
    margin-top: 40px
    font-size: 160%
